* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0 auto;
    background: getColour(backgroundwhite);
    color: getColour(textcolourprimary);
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: getColour(textcolourprimary);
}

i {
    color: getColour(textcolourprimary);
    font-size: 1.3rem;
}

i:hover {
    cursor: pointer;
}

.fa-heart,
.fa-heart-broken {
    color: getColour(primaryred);
}