* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0 auto;
    background: getColour(backgroundwhite);
    color: getColour(textcolourprimary);
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

.container {
    max-width: 1000px;
    padding: 0px 40px;
    margin: 0 auto;
}

.content__wrapper,
.content__wrapper__index {
    display: grid;
    grid-template-columns: auto;
}

.content__wrapper {
    margin-top: 130px;
}

.heading__container {
    width: 300px;
    margin: 0 auto;
}

.index__heading__container {
    justify-self: center;
}

a {
    text-decoration: none;
    color: getColour(textcolourprimary);
}

i {
    color: getColour(textcolourprimary);
    font-size: 1.3rem;
}

i :hover {
    cursor: pointer;
}

.fa-heart,
.fa-heart-broken {
    color: getColour(primaryred);
}

@media(min-width: 720px) and (max-width: 1000px) {
    .container {
        padding: 0px;
    }

    .heading__container {
        width: 630px;
    }
}

@media(min-width: 1001px) {
    .container {
        padding: 0px;
    }

    .heading__container {
        width: 987px;
        margin: 0;
    }
}