button:hover,
.logout__btn:hover {
    cursor: pointer;
}

.standard__cta__btn {
    width: 300px;
    height: 40px;
    background-color: getColour(textcolourprimary);
    color: getColour(backgroundwhite);
    border: none;
    font-size: 1.2rem;
}

.standard__cta__btn:hover {
    border: 2px solid getColour(textcolourprimary);
    background-color: getColour(backgroundwhite);
    color: getColour(textcolourprimary);
    font-weight: bold;
}

.edit__btn {
    background-color: getColour(tertiarygreen);
    color: getColour(textcoloursecondary);
}

.delete__btn {
    background-color: getColour(primaryred);
    color: getColour(textcoloursecondary);
}

.all__products__btn__container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.all__products__link__container {
    justify-content: center;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    font-size: 1.3rem;
    border: 2px solid getColour(highlightorange);
    width: 300px;
    height: 64px;
    background-color: getColour(backgroundwhite);

    .logo__btn {
        max-width: 50px;
        align-self: center;
        padding-bottom: 10px;
    }
}

.all__products__link__container:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px getColour(primaryred);

    .logo_btn {
        max-width: 60px;
    }

    .flying__logo {
        max-width: 50px;
        padding-top: 20px;
    }
}

.back_btn {
    justify-content: left;
    font-size: 1.1rem;
    border: none;

    .back__arrow {
        align-self: center;
        font-size: 1.6rem;
    }

    p {
        align-self: center;
    }
}

.back_btn:hover {
    box-shadow: none;
}

.form__btn {
    height: 50px;
    width: 100%;
}

.login__btn {
    width: 100%;
}

.verify__btn {
    min-width: 90px;
    border: 4px solid getColour(secondaryturquoise);
}

.verify__success {
    box-shadow: none;
    border: 4px solid getColour(backgroundwhite);
    background-color: getColour(secondaryturquoise);
}

.modal__btn {
    max-width: 170px;
}

@media(min-width: 720px) {
    .login__btn {
        height: 50px;
    }

    .verify__btn {
        min-width: 111px;
        padding: 0px 10px;
        font-size: 1rem;
    }

    .modal__btn {
        margin: 20px 0px;
    }
}