footer {
    background: getColour(secondaryturquoise);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    flex-shrink: 0;
    margin-top: 40px;
    justify-content: center;
    width: 100%;
    max-width: 100%;

    p {
        font-size: 0.8rem;
        margin: 10px 0px 10px 0px;
        color: getColour(textcoloursecondary);
    }
}

.footer__social__container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.footer__social {
    color: getColour(textcoloursecondary);
    font-size: 1.5rem
}

.footer__social:hover,
.footer__info__container a:hover {
    cursor: pointer;
    color: getColour(primaryred);
}

.footer__info__container {
    justify-self: center;
    text-align: center;
    font-weight: 600;
}