.index__heading__container {
    margin: 30px 0px;
}

.index__heading {
    text-align: center;
}

.homepage__logo {
    max-width: 60px;
    margin-left: 20px;
}

.contact__section {
    margin-top: 50px;
}