.filter__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.filter__input {
    display: flex;

    .search {
        margin-top: 10px;
        min-width: 250px;
        max-width: 250px;
        padding-left: 10px;
        border-right: none;
    }

    .filter__btn {
        background-color: getColour(backgroundwhite);
        border: 3px solid getColour(secondaryturquoise);
        height: 45px;
        width: 50px;
    }
}

.filter__btn__container {
    align-self: end;
}

input,
textarea {
    border: 3px solid getColour(highlightorange);
    height: 45px;
    font-size: 0.9rem;

    &:focus {
        outline: none;
        border: 3px solid getColour(secondaryturquoise);
    }
}

input[type=file]::file-selector-button {
    height: inherit;
    width: 70px;
    border: none;
    border-right: 2px solid getColour(highlightorange);
    background-color: getColour(backgroundwhite);
    font-family: $font-primary;
    padding-bottom: 5px;
}

input[type=file]::file-selector-button:hover {
    cursor: pointer;
    background-color: getColour(secondaryturquoise);
    font-weight: bold;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

@media(min-width: 720px) {
    .filter__grid {
        display: flex;
        justify-content: end;
    }

}