.message__container {
    max-width: 100%;
}

.message {
    padding: 10px;
    margin: 10px 0px;
    font-family: $font-heading;
}

.error {
    font-weight: bold;
    font-size: 1.1rem;
    border: 2px solid getColour(primaryred);
}

.warning {
    margin-top: 0px;
    padding: 5px;
    padding-left: 15px;
    color: getColour(textcoloursecondary);
    background-color: getColour(highlightorange);
    max-width: 300px;
    border-radius: 20px;
}

.form__warning {
    color: getColour(textcoloursecondary);
    background-color: getColour(highlightorange);
}

.success {
    color: getColour(textcoloursecondary);
    background-color: getColour(secondaryturquoise);
}

@media(min-width: 720px) {
    .error {
        border: 2px solid getColour(primaryred);
    }

    .success {
        font-size: 1.3rem;
        padding: 20px;
        text-align: center;
    }
}