.modal__container,
.image__modal__container {
    display: none;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;
    overflow: auto;
    background-color: getColour(backgroundwhitetransparent);
}

.image__modal__container {
    padding-bottom: 20px;
}

.modal__content {
    background-color: getColour(backgroundwhite);
    width: 80%;
    max-width: 400px;
    border: 2px solid getColour(highlightorange);
    margin: auto;
    padding: 10px 20px;

    hr {
        margin: 0px 0px 10px 0px;
    }
}

.modal__logo {
    position: relative;
    font-size: 1.4rem;
    text-align: center;
}

.modal__basket,
.modal__favorite {
    font-size: 2rem;
    margin: 20px 0px;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.close__btn {
    font-size: 2.5rem;
}

.close:hover {
    cursor: pointer;
}

.image__modal {
    margin: auto;
    display: block;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
}

.minibasket__modal__container {
    display: none;
}

@media(min-width: 720px) {
    .image__modal__container {
        padding-top: 20px;
    }

    .close {
        top: 60px;
        right: 60px;
    }
}

@media(min-width: 1024px) {
    .minibasket__modal__container {
        display: none;
        width: 400px;
        position: fixed;
        right: 40px;
        top: 106px;
        z-index: 290;
        background-color: getColour(backgroundwhite);
        border: 2px solid getColour(highlightorange);

        hr {
            width: 90%;
        }
    }

    .minibasket__products__container {
        max-height: 68vh;
        overflow: scroll;
    }

    .minibasket__modal__products {
        max-width: 160px;
    }

    .minibasket__modal__content {
        width: 100%;
        max-width: 400px;
        margin: auto;
        padding: 10px;
    }

    .minibasket__modal__card {
        display: flex;
        gap: 20px;

        .minibasket__modal__product__img {
            width: 150px;
            height: 150px;
            min-width: 150px;
            object-fit: cover;
        }

        .minibasket__quantity__container,
        .minibasket__price__container {
            width: 200px;
            display: flex;
            justify-content: space-between;
            padding-right: 22px;
        }

        p {
            font-size: 0.9rem;
        }
    }

    .minibasket__modal__card:hover .minibasket__modal__product__info {
        color: getColour(primaryred);
    }

    .minibasket__modal__total__container {
        display: flex;
        justify-content: space-between;
        margin: 0px 22px;
    }

    .alt__nav__basket:hover .minibasket__modal__container {
        display: block;
    }
}