.all__products__grid,
.featured__container,
.favorite__grid {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

@media(min-width: 720px) and (max-width: 1000px) {

    .all__products__grid,
    .featured__container,
    .favorite__grid {
        grid-template-columns: repeat(2, auto);
    }
}

@media(min-width: 1000px) {

    .all__products__grid,
    .featured__container,
    .favorite__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}