h1,
h2,
h3,
h4,
h5,
.message {
    font-family: $font-heading;
}

h2 {
    font-size: 1.3rem;
}

button,
.all__products__link__container {
    font-family: $font-button;
}

body,
input,
textarea,
a {
    font-family: $font-primary;
}